.contenedor {
    text-align: center;
    outline: solid 1px red;
}

    .tarjeta {
    display: inline-block;
    width: 150px;
    height: 100px;
    background-color: lightseagreen;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}





*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* header */
.header{
    background-color: #333;
    color: antiquewhite;
    padding: 20px;
    text-align: center;
}

.menu{
    margin-top: 10px;
}

.boton{
    display: inline-block;
    background-color: #555;
    color: white;
    text-decoration: none; /* Quita subrayado */
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
}

.boton:hover{
    background-color: #8d8d8d;
}
/* MAIN */

.contenedor_principal{
    padding: 25px 50px;

}

.resaltado{
    display: inline;
    background-color: yellow;
    font-weight: bold;
}

.contenedor_tarjetas{
    text-align: center;
    padding: 20px;
}

.box{
    display: inline-block;
    width: 150px;
    height: 100;
    background-color: steelblue;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.bloque{
    display: block; /* Alinea en bloques hacia abajo */
    background-color: tomato;
    color: white;
    margin: 10px;
    padding: 15px;
}

/* FOOTER */    
.footer{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}