*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* header */
.header{
    background-color: #133452;
    color: white;
    padding: 50px;
    height: 150px;
    text-align: center;
    margin: 10px 10px 0px 10px;
}

.p {
    margin-top: 20px;
}

.caja{
    background-color: #255581;
    color: white;
    height: 50px;
    text-align: center;
    margin: 0px 10px;
}


.menu{
    margin-top: 10px;
}

.contenedor{
    background-color: dimgray;
    margin: 30px;
}

.boton{
    display: inline-block;
    color: white;
    text-decoration: none; /* Quita subrayado */
    padding: 10px 10px;
    margin: 5px;
    border-radius: 5px;
}

