* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(215, 215, 215);
}

.seccion-unica img{
    position: absolute;
    /*Se ancla exactamente a la esquina superior derecha 
    de la ventana modal*/
    top: 0px;
    right: 613px;
    background-color: rgb(187, 187, 187);
    color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 4px 8px rgb(168, 168, 168);
    border: 2px solid white;
}

.td{
    background-color: rgb(255, 255, 255);
    border-radius: 19px;
    text-align: center;
    margin: 90px 300px 40px 400px;
    width: 500px;
    height: 500px;
    padding: 130px 0px 0px 0px;
}

.txt{
    margin: 30px;
}

.link{
    margin: 30px;
}

.boton-principal{
    background-color: rgb(51, 87, 123);
    color: aliceblue;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    border: none;
}